<%-include('./includes/header') %>

  <div class="order-container">
    <div class="order-table">
      <div class="order-header">
        My Orders
      </div>
      <% orders.forEach((orderItem, index) => { %>
        <% orderItem.products.forEach((product, productIndex) => { %>
        <div class="order-row">
            <img src="/uploads/products/<%=product.product.images[0] %>" alt="Product Image" class="product-image">
             <div class="product-details">
            <div class="product-name"><%=product.product.pname %></div>
            <div class="product-price">₹<%= product.price %></div>
            <div class="order-status"><%= product.status %></div>
            <a href="/viewdetails?id=<%= orderItem._id %>&productIndex=<%= productIndex %>" class="btn-view">View Details</a>
          </div>
        </div>
        <% }) %>
      <% }) %>
    </div>
  </div>
  <div class="pagination">
    <% if (currentPage > 1) { %>
      <a href="/order-details?page=<%=currentPage - 1 %>" class="btn-pagination">Previous</a>
    <% } %>
    
    <% for (let i = 1; i <= totalPages; i++) { %>
      <a href="/order-details?page=<%=i %>" class="btn-pagination<%= i === currentPage ? ' active' : '' %>"><%= i %></a>
    <% } %>
    
    <% if (currentPage < totalPages) { %>
      <a href="/order-details?page=<%=currentPage + 1 %>" class="btn-pagination">Next</a>
    <% } %>
  </div>




<%-include('./includes/footer') %>
