<%-include('./includes/header') %>
<div class="wrap-header-cart js-panel-cart">
  <div class="s-full js-hide-cart"></div>

  <div class="header-cart flex-col-l p-l-65 p-r-25">
    <div class="header-cart-title flex-w flex-sb-m p-b-8">
      <span class="mtext-103 cl2">
        Your Cart
      </span>

      <div class="fs-35 lh-10 cl2 p-lr-5 pointer hov-cl1 trans-04 js-hide-cart">
        <i class="zmdi zmdi-close"></i>
      </div>
    </div>

    <div class="header-cart-content flex-w js-pscroll">
      
      <div class="w-full">

        <div class="header-cart-buttons flex-w w-full">
          <a href="/loadcart" class="flex-c-m stext-101 cl0 size-107 bg3 bor2 hov-btn3 p-lr-15 trans-04 m-r-8 m-b-10">
            View Cart
          </a>

          <a href="/checkout" class="flex-c-m stext-101 cl0 size-107 bg3 bor2 hov-btn3 p-lr-15 trans-04 m-b-10">
            Check Out
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

  <div class="order-container">
    <div class="order-table">
      <% if(orders.length===0){ %>
      <div class="order-header">
        No Orders
      </div>
        <% }else{ %>
      <div class="order-header">
        My Orders
      </div>
     
      <% orders.forEach((orderItem, index) => { %>
        <% orderItem.products.forEach((product, productIndex) => { %>
        <div class="order-row">
            <img src="/uploads/products/<%=product.product.images[0] %>" alt="Product Image" class="product-image">
             <div class="product-details">
            <div class="product-name"><%=product.product.pname %></div>
            <div class="product-price">₹<%= product.price %></div>
            <div class="order-status"><%= product.status %></div>
            <a href="/viewdetails?id=<%= orderItem._id %>&productIndex=<%= productIndex %>" class="btn-view">View Details</a>
          </div>
        </div>
        <% }) %>
      <% }) %>
      <% } %>
    </div>
  </div>
  <div class="pagination">
    <% if (currentPage > 1) { %>
      <a href="/order-details?page=<%=currentPage - 1 %>" class="btn-pagination">Previous</a>
    <% } %>
    
    <% for (let i = 1; i <= totalPages; i++) { %>
      <a href="/order-details?page=<%=i %>" class="btn-pagination<%= i === currentPage ? ' active' : '' %>"><%= i %></a>
    <% } %>
    
    <% if (currentPage < totalPages) { %>
      <a href="/order-details?page=<%=currentPage + 1 %>" class="btn-pagination">Next</a>
    <% } %>
  </div>




<%-include('./includes/footer') %>
